<html>
    <body>
        <p>New job application from {{ firstName }} {{ lastName }}.</p>
        <p><strong>Contact Details:</strong></p>
        <p>Email: {{ email }}</p>
        <p>Mobile: {{ mobile }}</p>
        
        <p><strong>Skills and Information:</strong></p>
        <p><strong>Primary Skills:</strong> {{ primarySkills }}</p>
        <p><strong>Current Designation:</strong> {{ currentDesignation }}</p>
        <p><strong>US Citizen:</strong> {{ usCitizen }}</p>
        <p><strong>Visa Sponsorship Required:</strong> {{ visaSponsorship }}</p>
        
        <p><strong>Message:</strong></p>
        <p>{{ message }}</p>
    </body>
</html>
